.hide{
    display:none;
}

.cross-key-container {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}@media (max-width: 768px) {
    .cross-key-container {
        width:60px;
        height: 60px;
    }
}

.cross-key-btn {
    width:28px;
    height: 28px;
    background-color: white;
    color: rgba(66, 86, 123, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.6),
    inset 2px 2px 5px rgba(255, 255, 255, 0.3),
    2px 2px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}@media (max-width: 768px) {
    .cross-key-btn {
        font-size: 8px;
        width:20px;
        height: 20px;
    }
}

.top-mark, .bottom-mark, .left-mark, .right-mark {
    position: absolute;
}

.top-mark {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-mark {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}

.left-mark {
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
}

.right-mark {
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
}

.center-mark {
    z-index: 1;
}

.a-btn{
    width:28px;
    height: 28px;
    background-color: white;
    color: rgba(66, 86, 123, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.6),
    inset 2px 2px 5px rgba(255, 255, 255, 0.3),
    2px 2px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.b-btn{
    width:40px;
    height: 40px;
    background-color: white;
    color: rgba(66, 86, 123, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.6),
    inset 2px 2px 5px rgba(255, 255, 255, 0.3),
    2px 2px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}@media (max-width: 768px) {
    .b-btn {
        font-size: 8px;
        width:15px;
        height: 15px;
    }
}

.l-btn{
    width:60px;
    height: 40px;
    background-color: white;
    color: rgba(66, 86, 123, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-top-left-radius: 70%;
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.6),
    inset 2px 2px 5px rgba(255, 255, 255, 0.3),
    2px 2px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}@media (max-width: 768px) {
    .l-btn {
        font-size: 12px;
        width:40px;
        height: 28px;
    }
}

.r-btn{
    width:60px;
    height: 40px;
    background-color: white;
    color: rgba(66, 86, 123, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-top-right-radius: 70%;
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.6),
    inset 2px 2px 5px rgba(255, 255, 255, 0.3),
    2px 2px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}@media (max-width: 768px) {
    .r-btn {
        font-size: 12px;
        width:40px;
        height: 28px;
    }
}



span.under-line {
    background: linear-gradient(transparent 92%, #cfcf94 0%);
    display: inline;
}

#toeic_modal,
#knt_modal,
#tamwood_modal{
    background-color: rgba(0, 0, 0, 0.8); /* 背景を黒で透過させる */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}


.overflow-hidden {
    overflow: hidden; /* モーダルが表示されている間、スクロールを無効にする */
}

/* テーブル全体のスタイル */
table {
    width: 100%;
    border-collapse: collapse; /* セル間のボーダーを重ねない */
}

/* 各セルにボーダーを追加 */
th, td {
    border: 1px solid #000; /* セルのボーダー */
    padding: 10px 15px; /* パディングを調整 */
    text-align: left; /* テキストの左揃え */
}@media (max-width: 768px) {
    th, td {
        padding: 5px 8px; /* パディングを調整 */
    }
}

table thead th{
    text-align: center;
}

/* 各セルの横幅を広く取る */
th, td {
    width: 33.33%; /* 必要に応じて調整 */
}

