@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

.hoverable:hover::before {
    content: '▶';
    margin-right: 0.5rem;
    position: absolute;
    left: 0;
    transform: translateX(-100%);
}
.hoverable {
    position: relative;
}

