.game-screen-border{
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

/*ABボタン*/
.a-large-btn{
    width:60px;
    height: 60px;
    background-color: white;
    color: rgba(66, 86, 123, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.6),
    inset 2px 2px 5px rgba(255, 255, 255, 0.3),
    2px 2px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}@media (max-width: 768px) {
    .a-large-btn {
        width:40px;
        height: 40px;
        font-size: 12px;
    }
}

/*十字キーコンテイナー*/
.large-cross-key-container {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}@media (max-width: 768px) {
    .large-cross-key-container {
        width: 120px;
        height: 120px;
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-radius: 50%;
    }
}

/*十字キー各ボタン*/
.large-cross-key-btn {
    width:60px;
    height: 60px;
    background-color: white;
    color: rgba(66, 86, 123, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.6),
    inset 2px 2px 5px rgba(255, 255, 255, 0.3),
    2px 2px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}@media (max-width: 768px) {
    .large-cross-key-btn {
        width:40px;
        height: 40px;
        font-size: 12px;
    }
}

/*音声箇所（PC)*/
.diagonal-box {
    width: 200px;
    height: 10px;
    background-color: rgba(0,0,0,0.6); /* 背景色 */
    transform: rotate(-15deg); /* -20度回転して右上がりに */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-weight: bold;
}

/*ゲーム機器（モバイル）*/
.game-container {
    /*border-radius: 30%;*/
}@media (max-width: 768px) {
    .game-container {
        box-shadow:
            inset 0 5px 10px rgba(0, 0, 0, 0.2), /* Inner shadow for depth */
            0 10px 20px rgba(0, 0, 0, 0.3), /* Outer shadow for overall 3D effect */
            -5px -5px 15px rgba(255, 255, 255, 0.1); /* Light reflection effect */
        border-radius: 12px; /* Slight rounding for a smoother edge */
        background: linear-gradient(145deg, rgb(105, 92, 162), rgb(125, 112, 182)); /* Gradient with desired color */
    }
}

/*ABボタン周りボーダー（モバイル）*/
.rotated-ellipse {
    position: absolute;
    top: -20%;
    left: 50%;
    width: 150px;
    height: 60px;
    background-color: transparent; /* 楕円の背景色を指定 */
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transform: rotate(-15deg) translate(-50%, -50%);
    z-index: 1;
}

/*上下画面の境目（モバイル）*/
.screen-bound {
    width: 50%;
    height: 30px;
    color: rgba(66, 86, 123, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10%;
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.6),
    inset 2px 2px 5px rgba(255, 255, 255, 0.3),
    2px 2px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/*境目各円柱（モバイル）*/
.left-item {
    margin-right: -1.5px; /* 右ボーダーが重なるように調整 */
}

.right-item {
    margin-left: -1.5px; /* 左ボーダーが重なるように調整 */
}

